@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@{
    var id = (string)ViewBag.id;
    var tc = await AC.ToChuc.GetById(id);
    var dst = await AC.Trang.Get(tc.DsIdTrang);
    var idt = (string)ViewBag.idt;
    var trang = idt!=null?await AC.Trang.GetById(idt):null;
    var lmt = trang != null? await AC.LoaiMauTrang.GetByCode(trang.CodeMauTrang):null;
} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Files/ytemoiicon.png" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ytemoi.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    
        @if (trang != null && lmt.CodeLoaiMauWeb == "lmw_phothong")
        {
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow fixed-top ">
                    <div class="container-fluid">
                        <a class="navbar-brand"  href="/tochuc/index?id=@tc.Id">@tc.VietTat.ToUpper()  </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">                 

                                @foreach (var t in dst)
                                {
                                    if (t.View)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active"href="/tochuc/@t.CodeMauTrang/@t.Id">@t.Name </a>
                                        </li>

                                    }

                                }

                    </ul>
                     <div class="d-flex" id="AccountStatus">
                           @Html.Partial("_AccountStatusPartial")
                      </div>
             
                    </div>
                  </div>
                </nav>      
            </header>
            <div style="min-height:calc(100vh - 121px);">
                <main role="main" style="padding-top:60px;">
                     @RenderBody()
                </main>
                <div class="clearfix"></div>
            </div>

             @Html.Partial("_ModalPartial")
   
            <footer class="border-top mt-5 pt-4 pb-4 bg-light">
                <div class="container">
            
                    <div class="text-center"> <a href="/">@SystemInfo.HeThong.ThuongHieu</a>  &copy; 2022 All Rights Reserved  </div>
            
                </div>
            </footer>
        } else
        {
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow fixed-top ">
                    <div class="container-fluid">
                        <a class="navbar-brand"  href="/tochuc/index?id=@tc.Id">@tc.VietTat.ToUpper()  </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">                 

                                @foreach (var t in dst)
                                {
                                    if (t.View)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active"href="/tochuc/@t.CodeMauTrang/@t.Id">@t.Name </a>
                                        </li>

                                    }

                                }

                                @if (trang != null)
                                {
                                     <li class="nav-item">
                                            @trang.CodeMauTrang
                                        </li>
                                }

                    </ul>
                     <div class="d-flex" id="AccountStatus">
                           @Html.Partial("_AccountStatusPartial")
                      </div>
             
                    </div>
                  </div>
                </nav>      
                </header>
                <div style="min-height:calc(100vh - 121px);">
                    <main role="main" style="padding-top:60px;">
                         @RenderBody()
                    </main>
                    <div class="clearfix"></div>
                </div>

                 @Html.Partial("_ModalPartial")
   
                <footer class="border-top mt-5 pt-4 pb-4 bg-light">
                    <div class="container">
            
                        <div class="text-center"> <a href="/">@SystemInfo.HeThong.ThuongHieu</a>  &copy; 2022 All Rights Reserved  </div>
            
                    </div>
                </footer>
        }


     @Html.Partial("_js")
   

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>