@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@model CongViecRequest
@{
   Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    ViewData["Title"] = "Update công việc";

    var pb = await AC.PhongBan.GetById(Model.IdPhongBan);
    var tc = await AC.ToChuc.GetById(Model.IdToChuc);
    var lcv = await AC.LoaiCongViec.GetById(Model.IdLoaiCongViec);
    var nv = await AC.NhanVien.GetById(Model.IdNhanVien);
}

<section id="congviec" style="padding-top:60px;">
<div class="container-fluid">
    <div class="row justify-content-md-center">
              
        <div class="col-md-4">
            <div class="card text-center mt-5">
                <div class="card-body">
                    CẬP NHẬT CÔNG VIỆC
                </div>
                <div class="card-body text-start">

                    @using (Html.BeginForm("nhanvien_congviec_lcv_quanlynhansutochuc_congviec_update", "nguoidung", FormMethod.Post))
                    {
                        <input hidden type="text" class="form-control" id="Id" name="Id" value="@Model.Id">
                        <input hidden type="text" class="form-control" id="IdNhanVien" name="IdNhanVien" value="@Model.IdNhanVien">
                        <input hidden type="text" class="form-control" id="TrangThaiNhanVienLamViec" name="TrangThaiNhanVienLamViec" value="@Model.TrangThaiNhanVienLamViec">
                        <input hidden type="text" class="form-control" id="TrangThaiNhanVienTraLoi" name="TrangThaiNhanVienTraLoi" value="@Model.TrangThaiNhanVienTraLoi">
                        <input hidden type="text" class="form-control" id="IdPhongBan" name="IdPhongBan" value="@Model.IdPhongBan">
                        <input hidden type="text" class="form-control" id="IdToChuc" name="IdToChuc" value="@Model.IdToChuc">
                        <input hidden type="text" class="form-control" id="IdLoaiCongViec" name="IdLoaiCongViec" value="@Model.IdLoaiCongViec">
                        <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@Model.IdCongViec">
                        
                        
                        <div class="mb-3">
                                <label  class="form-label">Tổ chức: @tc.Name</label> <br/>
                                @if (pb!= null)
                                {
                                    <label  class="form-label">Phòng ban: @pb.Name</label> <br/>
                                }
                                
                                <label for="Ten" class="form-label">Nhân viên: @nv.Name</label>  <br/>
                                <label  class="form-label">Công việc: @lcv.Name</label>  <br/>
                                @if (Model.TrangThaiNhanVienTraLoi == TrangThaiNhanVien_NhanVienTraLoi.ChapNhan)
                                    {
                                        <label for="" class="form-label">Trạng thái làm việc: @CheckFormat.TenTrangThaiNhanVien_LamViec(Model.TrangThaiNhanVienLamViec)</label>
                                    } else
                                    {
                                         <label for="" class="form-label">Trả lời lời mời: @CheckFormat.TenTrangThaiNhanVien_TraLoi(Model.TrangThaiNhanVienTraLoi)</label>
                                    }
                            </div>
                            
                           <div class="mb-3">
                                
                                <label for="VaiTro" class="form-label">Trạng thái</label>
                                <select id="TrangThai" name="TrangThai" class="form-select">
                                    @foreach(TrangThaiCongViec l in Enum.GetValues(typeof(TrangThaiCongViec))) {  
                                        if (l == Model.TrangThai)
                                        {
                                             <option selected value="@l">@CheckFormat.TenTrangThaiCongViec(l)</option>  
                                        } else
                                        {
                                             <option value="@l">@CheckFormat.TenTrangThaiCongViec(l)</option>  
                                        }
                                       
                                    }  
                                                                    
                                </select>
                                @if(ViewBag.ErrTrangThai != null)
                                {
                                    <span class="text-danger" >@ViewBag.ErrTrangThai</span>
                                }
                                    
                           </div>
                             
                           <button type="submit" class="btn btn-primary">Cập nhật</button>                        
                    }   

                </div>
            </div>
        </div>
    </div>
</div>
</section>


