@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@model NhomRequest
@{
    Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    ViewData["Title"] = "Update nhóm";
   
    var pb = await AC.PhongBan.GetById(Model.IdPhongBan);
}



<section id="congviec" style="padding-top:60px;">
<div class="container-fluid">
    <div class="row justify-content-md-center">
              
        <div class="col-md-4">
            <div class="card text-center mt-5">
                <div class="card-body">
                    UPDATE NHÓM
                </div>
                <div class="card-body text-start">

                    @using (Html.BeginForm("nhanvien_congviec_lcv_quanlynhanvienphongban_nhom_update", "nguoidung", FormMethod.Post))
                    {
                        <input hidden type="text" class="form-control" id="Id" name="Id" value="@Model.Id">
                        <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@Model.IdCongViec">
                        <input hidden type="text" class="form-control" id="IdPhongBan" name="IdPhongBan" value="@Model.IdPhongBan">
                        <div class="mb-3">
                            
                            <label  class="form-label">Phòng ban: @pb.Name</label> <br/>
                            <label for="Ten" class="form-label">Tên nhóm</label>
                            <input type="text" class="form-control" id="Ten" name="Ten" value="@Model.Ten">
                                @if(ViewBag.ErrTen != null)
                                {
                                    <span class="text-danger" >@ViewBag.ErrTen</span>
                                }
                                    
                        </div>
                        
                        <div class="mb-3">                                
                            <label for="TrangThai" class="form-label">Trạng thái</label>
                            <select id="TrangThai" name="TrangThai" class="form-select">
                                @foreach(TrangThaiNhom l in Enum.GetValues(typeof(TrangThaiNhom))) { 
                                    if (l == Model.TrangThai)
                                    {
                                        <option selected value="@l">@CheckFormat.TenTrangThaiNhom(l)</option>  
                                    } else
                                    {
                                        <option value="@l">@CheckFormat.TenTrangThaiNhom(l)</option>  
                                    }
                                    
                                }  
                                                                    
                            </select>
                            @if(ViewBag.ErrTrangThai != null)
                            {
                                <span class="text-danger" >@ViewBag.ErrTrangThai</span>
                            }
                                    
                        </div>
                        
                        <div class="mb-3 text-start">
                        <label for="GioiThieu" class="form-label">Giới thiệu</label>

                        <textarea id="GioiThieu" name="GioiThieu" class="form-control">@Model.GioiThieu</textarea>
                               
                        </div>
                              
                             
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    }

                        

                </div>
            </div>
        </div>
    </div>
</div>
</section>
