@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@model CaRequest
@{
    Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    ViewData["Title"] = "Update ca cho yếu nhân";
    var bn = await AC.DoiTuong.GetById(Model.IdDoiTuong);
    
    var ldt = await AC.LoaiDoiTuong.GetByCode(bn.CodeLoaiDoiTuong);
    var ca = await AC.Ca.GetById(Model.Id);
    var cv = await AC.CongViec.GetById((string)ViewBag.id);
   
    var pb = await AC.PhongBan.GetById(cv.IdPhongBan);

  
    var gp = await AC.GiaiPhap.GetById(cv.IdGiaiPhap);
    var lgp = await AC.LoaiGiaiPhap.GetByCode(gp.CodeLoaiGiaiPhap);
}

<section id="congviec" style="padding-top:60px;">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
              
            <div class="col-md-4">
                <div class="card text-center mt-5">
                    <div class="card-body">
                        UPDATE CA CHO YẾU NHÂN
                    </div>
                    <div class="card-body text-start">

                        @using (Html.BeginForm("nhanvien_congviec_lcv_anninh_baove_lapkehoachbaovevaphanca_ca_update", "nguoidung", FormMethod.Post))
                        {
                            <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@Model.IdCongViec">
                            <input hidden type="text" class="form-control" id="IdDoiTuong" name="IdDoiTuong" value="@Model.IdDoiTuong">
                            <input hidden type="text" class="form-control" id="Id" name="Id" value="@Model.Id">

                            <div class="mb-3">                                
                            <label class="form-label">Bệnh nhân: @bn.Name</label>
                            </div>

                            <div class="mb-3">
                                
                            <label for="IdLoaiCa" class="form-label">Loại ca</label>
                            <select id="IdLoaiCa" name="IdLoaiCa" class="form-select">
                               @foreach(var lc in await AC.LoaiCa.Get(ldt.DsIdLoaiCa)) {
                                   if (lc.Id == Model.IdLoaiCa)
                                        {
                                           <option selected value="@lc.Id">@lc.Name</option>  
                                        } else
                                        {
                                            <option  value="@lc.Id">@lc.Name</option> 
                                        }
                                         
                                }  
                                                                    
                            </select>                                
                                    
                           </div>

                            <div class="mb-3">
                                
                                    <label for="TrangThai" class="form-label">Trạng thái</label>
                                    <select id="TrangThai" name="TrangThai" class="form-select">
                                        @foreach(TrangThaiHoSo l in Enum.GetValues(typeof(TrangThaiHoSo))) {  
                                            if (l == Model.TrangThai)
                                                {
                                                    <option selected value="@l">@CheckFormat.TenTrangThaiHoSo(l)</option>  
                                                } else
                                                {
                                                     <option value="@l">@CheckFormat.TenTrangThaiHoSo(l)</option> 
                                                }
                                             
                                        }  
                                                                    
                                    </select>
                                    @if(ViewBag.ErrTrangThai != null)
                                    {
                                        <span class="text-danger" >@ViewBag.ErrTrangThai</span>
                                    }
                                    
                               </div>
                        
                            <div class="mb-3 text-start">
                            <label for="GioiThieu" class="form-label">Ghi chú</label>
                                <textarea id="GioiThieu" name="GioiThieu" class="form-control">@Model.GioiThieu</textarea>
                            </div>                             
                             
                            <button type="submit" class="btn btn-primary">Update</button>
                        }

                    </div>
                </div>
            </div>

        </div>

       
    </div>
</section>



