@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@{
    Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    ViewData["Title"] = "Update Kế hoạch";
    var ca = await AC.Ca.GetById((string)ViewBag.idca);   
    var lc = await AC.LoaiCa.GetByCode(ca.CodeLoaiCa);
    var dskh = await AC.KeHoach.Get(ca.DsIdKeHoach);
}
<script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<section id="congviec" style="padding-top:60px;">
    <div class="container-fluid">
       

        <div class="row justify-content-md-center">
              
          
            @foreach (var lkh in await AC.LoaiKeHoach.Get(lc.DsIdLoaiKeHoach) )
            {
                var kh = dskh.FirstOrDefault(c => c.CodeLoaiKeHoach == lkh.Code);
                <div class="col-md-4">
                    <div class="card mt-5">
                        <div class="card-header text-center">
                           @lkh.Name
                        </div>                        
                           @if (kh!= null)
                            {
                                var dsv = (await AC.Viec.Get(kh.DsIdViec)).OrderBy(c => c.Stt);
                                <ul class="list-group">
                                    <div class="card-body">
                                        <div class="text-center">
                                             <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#tv-@kh.Id" aria-expanded="false" aria-controls="#tv-@kh.Id"> Thêm việc</button>
                                        </div>
                                       
                                        <div class="collapse mt-3" id="tv-@kh.Id">
                                             @using (Html.BeginForm("nhanvien_congviec_lcv_yte_chamsocnguoibenh_lapkehoachchamsocvaphanca_ca_kehoach_viec_create", "nguoidung", FormMethod.Post))
                                                {
                                                    <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@ViewBag.id">
                                                    <input hidden type="text" class="form-control" id="IdBenhNhan" name="IdBenhNhan" value="@ViewBag.idbn">
                                                    <input hidden type="text" class="form-control" id="IdCa" name="IdCa" value="@ViewBag.idca">
                                                    <input hidden type="text" class="form-control" id="IdKeHoach" name="IdkeHoach" value="@kh.Id">

                                                    <hr />
                                                    
                                                    <div class="mb-3">
                                
                                                    <label for="IdLoaiViec" class="form-label">Loại  việc</label>
                                                    <select id="IdLoaiViec" name="IdLoaiViec" class="form-select">
                                                        @foreach(var lv in await AC.LoaiViec.Get(lkh.DsIdLoaiViec)) {  
                                                            <option value="@lv.Id">@lv.Name</option>  
                                                        }  
                                                                    
                                                    </select>                                
                                    
                                                   </div>

                                                    <div class="mb-3">
                                                    <label for="STT" class="form-label">Số thứ tự</label>
                                                    <input type="text" class="form-control" id="STT" name="STT" value="1">
                                                    </div>

                                                     <div class="mb-3">
                                                    <label for="ThoiGian" class="form-label">Thời gian</label>
                                                    <input type="text" class="form-control" id="ThoiGian" name="ThoiGian" value="">
                                                    </div>

                        
                                                    <div class="mb-3 text-start">
                                                    <label for="DanDo" class="form-label">Ghi chú</label>
                                                        <textarea id="DanDo" name="DanDo" class="form-control"></textarea>
                                                    </div>   
                                                    <script>
                                                        CKEDITOR.replace("DanDo");
                                                    </script>
                             
                                                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                                                }
                                               
                                        </div>
                                    </div>
                                    @foreach(var viec in dsv)
                                    {   
                                        <li class="list-group-item">
                                            <strong>@viec.Stt - @viec.ThoiGianText - @viec.LoaiViec 
                                                <i class="fa fa-edit ms-2 text-info" type="button " data-bs-toggle="collapse" data-bs-target="#v-@viec.Id" aria-expanded="false" aria-controls="#v-@viec.Id"></i>
                                                
                                                <i class="fa fa-times ms-2 text-danger" type="button " onclick="XoaViec('@ViewBag.id', '@ViewBag.idbn', '@ViewBag.idca', '@viec.Id' )"></i>
                                            </strong> <br>
                                            @Html.Raw(viec.DanDo)

                                            <div class="collapse" id="v-@viec.Id">
                                                @using (Html.BeginForm("nhanvien_congviec_lcv_yte_chamsocnguoibenh_lapkehoachchamsocvaphanca_ca_kehoach_viec_update", "nguoidung", FormMethod.Post))
                                                {
                                                    var ten = "DanDo_"+ viec.Id;
                                                    <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@ViewBag.id">
                                                    <input hidden type="text" class="form-control" id="IdBenhNhan" name="IdBenhNhan" value="@ViewBag.idbn">
                                                    <input hidden type="text" class="form-control" id="IdCa" name="IdCa" value="@ViewBag.idca">
                                                    <input hidden type="text" class="form-control" id="IdKeHoach" name="IdkeHoach" value="@kh.Id">
                                                    <input hidden type="text" class="form-control" id="IdViec" name="IdViec" value="@viec.Id">

                                                    <hr />
                                                    
                                                    <div class="mb-3">
                                
                                                    <label for="IdLoaiViec" class="form-label">Loại  việc</label>
                                                    <select id="IdLoaiViec" name="IdLoaiViec" class="form-select">
                                                        @foreach(var lv in await AC.LoaiViec.Get(lkh.DsIdLoaiViec)) { 
                                                            if (lv.Code == viec.CodeLoaiViec)
                                                            {
                                                               <option selected value="@lv.Id">@lv.Name</option>    
                                                            } else
                                                            {
                                                                <option value="@lv.Id">@lv.Name</option>  
                                                            }
                                                            
                                                        }  
                                                                    
                                                    </select>                                
                                    
                                                   </div>

                                                    <div class="mb-3">
                                                    <label for="STT" class="form-label">Số thứ tự</label>
                                                    <input type="text" class="form-control" id="STT" name="STT" value="@viec.Stt">
                                                    </div>

                                                     <div class="mb-3">
                                                    <label for="ThoiGian" class="form-label">Thời gian</label>
                                                    <input type="text" class="form-control" id="ThoiGian" name="ThoiGian" value="@viec.ThoiGianText">
                                                    </div>

                        
                                                    <div class="mb-3 text-start">
                                                    <label for="@ten" class="form-label">Dặn dò</label>
                                                        <textarea id="@ten" name="DanDo" class="form-control">
                                                            @viec.DanDo
                                                        </textarea>
                                                    </div>   
                                                    <script>                                                       
                                                        CKEDITOR.replace("@ten");
                                                    </script>
                             
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                }
                                           
                                            </div>

                                        </li>    
                                       
                                    }

                                    <li class="list-group-item">
                                        <strong>Dặn dò thêm 
                                                <i class="fa fa-edit ms-2 text-info" type="button" data-bs-toggle="collapse" data-bs-target="#kh-@kh.Id" aria-expanded="false" aria-controls="#kh-@kh.Id"></i>
                                            </strong> <br>
                                        @Html.Raw(kh.DanDo)    
                                        <div class="collapse" id="kh-@kh.Id">
                                               @using (Html.BeginForm("nhanvien_congviec_lcv_yte_chamsocnguoibenh_lapkehoachchamsocvaphanca_ca_kehoach_dando_update", "nguoidung", FormMethod.Post))
                                                {
                                                    var ten = "DanDo_"+ kh.Id;
                                                    <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@ViewBag.id">
                                                    <input hidden type="text" class="form-control" id="IdBenhNhan" name="IdBenhNhan" value="@ViewBag.idbn">
                                                    <input hidden type="text" class="form-control" id="IdCa" name="IdCa" value="@ViewBag.idca">
                                                    <input hidden type="text" class="form-control" id="IdKeHoach" name="IdkeHoach" value="@kh.Id">
                                                    <hr />

                        
                                                    <div class="mb-3 text-start">
                                                    <label for="@ten" class="form-label">Dặn dò</label>
                                                        <textarea id="@ten" name="DanDo" class="form-control">
                                                            @kh.DanDo
                                                        </textarea>
                                                    </div>   
                                                    <script>                                                       
                                                        CKEDITOR.replace("@ten");
                                                    </script>
                             
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                }
                                            </div>
                                     </li> 

                                </ul>
                                
                            } else
                            {
                                <div class="card-body text-center">
                                    <a class="btn btn-primary" onclick="ThemKeHoach('@ViewBag.id', '@ViewBag.idbn', '@ViewBag.idca', '@lkh.Id' )"> Lập kế hoạch</a>
                                </div>
                            }

                        
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>


@section scripts {

<script type="text/javascript">

    function XoaViec(id, idbn, idca, idviec)
    {
         let confirmAction = confirm("Xóa việc?");
        if (confirmAction) {
          location = "/nguoidung/nhanvien_congviec_lcv_yte_chamsocnguoibenh_lapkehoachchamsocvaphanca_ca_kehoach_viec_xoa?id="+id+"&idbn="+idbn+"&idca="+idca+"&idviec="+idviec;
        } else {
         
        }
        
    }

    function ThemKeHoach(id, idbn,idca, idlkh)
    {
         let confirmAction = confirm("Thêm kế hoạch?");
        if (confirmAction) {
            
          location ="/nguoidung/nhanvien_congviec_lcv_yte_chamsocnguoibenh_lapkehoachchamsocvaphanca_ca_kehoach_them?id="+id+"&idbn="+idbn+"&idca="+idca+"&idlkh="+idlkh;
         
        } else {
          
        }
    }

    $(document).ready(function(){
    });

</script>

}
