@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@model CongViecRequest
@{
    Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    ViewData["Title"] = "Tạo công việc cho tổ chức";

    var cv = await AC.CongViec.GetById(Model.IdCongViec);
    var tc = await AC.ToChuc.GetById(cv.IdToChuc);
    var gp = await AC.GiaiPhap.GetById(Model.IdGiaiPhap);
    var lcv = await AC.LoaiCongViec.GetById(Model.IdLoaiCongViec);
    var dsnv = gp.IdPhongBan ==null? 
    await AC.NhanVien.Get(tc.DsIdNhanVienToChuc):
    await AC.NhanVien.Get((await AC.PhongBan.GetById(gp.IdPhongBan)).DsIdNhanVien);
}



<section id="congviec" style="padding-top:60px;">
<div class="container-fluid">
    <div class="row justify-content-md-center">
              
        <div class="col-md-4">
            <div class="card text-center mt-5">
                <div class="card-body">
                    GIAO VIỆC CHO NHÂN VIÊN
                </div>
                <div class="card-body text-start">

                    @using (Html.BeginForm("nhanvien_congviec_lcv_quanlynhansutochuc_congviec_create", "nguoidung", FormMethod.Post))
                    {
                        <input hidden type="text" class="form-control" id="IdCongViec" name="IdCongViec" value="@Model.IdCongViec">
                        <input hidden type="text" class="form-control" id="IdToChuc" name="IdToChuc" value="@tc.Id">
                        <input hidden type="text" class="form-control" id="IdLoaiCongViec" name="IdLoaiCongViec" value="@Model.IdLoaiCongViec">
                        <input hidden type="text" class="form-control" id="IdGiaiPhap" name="IdGiaiPhap" value="@Model.IdGiaiPhap">
                        
                        @if (dsnv.Count == 0)
                        {
                            <div class="mb-3">
                                <label  class="form-label">Tổ chức: @tc.Name</label> <br/>
                                
                                <label  class="form-label">Công việc: @lcv.Name</label> <br/>
                                <label for="Ten" class="form-label text-danger">Tổ chức chưa có nhân viên để giao việc</label>                                
                                    
                            </div>

                            <a href="/nguoidung/tochuc_nhanvien_create/@Model.IdToChuc" class="btn btn-primary">Tạo nhân viên mới</a>
                        } else
                        {
                            <div class="mb-3">
                                <label  class="form-label">Tổ chức: @tc.Name</label> <br/>                               
                                <label  class="form-label">Công việc: @lcv.Name</label> <br/>
                                <label for="Ten" class="form-label">Nhân viên</label>
                                <select id="IdNhanVien" name="IdNhanVien" class="form-select">
                                    @foreach(var l in dsnv)
                                    {
                                        if (l.Id == Model.IdNhanVien)
                                        {
                                             <option selected value="@l.Id">@l.Name</option>
                                        } else 
                                        {
                                             <option value="@l.Id">@l.Name</option>
                                        }
                                       
                                    }
                                    
                                </select>
                                @if(ViewBag.ErrNhanVien != null)
                                {
                                    <span class="text-danger" >@ViewBag.ErrNhanVien</span>
                                }
                                    
                            </div>
                           
                             
                           <button type="submit" class="btn btn-primary">Tạo mới</button>
                         }

                        
                    }

                        

                </div>
            </div>
        </div>
    </div>
</div>
</section>


