@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@{
    Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    ViewData["Title"] = "Lập kế hoạch và phân ca";
    var cv = await AC.CongViec.GetById((string)ViewBag.id);
    var gp = await AC.GiaiPhap.GetById(cv.IdGiaiPhap);
    var pb = await AC.PhongBan.GetById(cv.IdPhongBan);
    
}

<section id="congviec" style="padding-top:60px;" >
       <div class="container-fluid">
            <table class="table table-hover mt-3">
            <thead class="table-primary">
                <tr>
                    <th colspan=3 class="">
                         <h5 class="float-start pt-1 mb-0"> Phân ca </h5>                   
                         
                    </th>
                </tr>
                
            </thead>
            <tbody>
             @foreach(var yn in await AC.DoiTuong.Get(pb.DS_DsId("DsPhongBanDoiTuong")))
                {
                    <tr>
                        <td>@yn.Name</td>
                        <td>
                            @foreach(var ca in await AC.Ca.Get(yn.DsIdCa))
                            {
                                var lc = await AC.LoaiCa.GetByCode(ca.CodeLoaiCa);
                                <table>
                                    <tr>
                                        <th style ="width:150px;">
                                            Thông tin ca:
                                        </th>
                                        <td>
                                            @ca.LoaiCa 
                                            <a href="/nguoidung/nhanvien_congviec_@(cv.CodeLoaiCongViec)_ca_update?id=@ViewBag.id&idyn=@yn.Id&idca=@ca.Id"><i class="fa fa-edit ms-2"></i></a>
                                            
                                        </td>
                                    </tr>
                                     <tr>
                                        <th>
                                            Nhân sự:
                                                
                                        </th>
                                        <td>
                                            @foreach (var ps in await AC.PhanSu.Get(lc.DsIdPhanSu) )
                                            {
                                                    <strong> @ps.Name:</strong> 
                                                    foreach (var nv in await AC.NhanVien.Get(ca.DS_DsId("Ca_"+ps.Code)))
                                                    {
                                                    <span>
                                                        @nv.VaiTro. @nv.Name
                                                    </span>
                                                    }
                                        
                                            }

                                            <a href="/nguoidung/nhanvien_congviec_@(cv.CodeLoaiCongViec)_ca_nhansu?id=@ViewBag.id&idyn=@yn.Id&idca=@ca.Id"><i class="fa fa-user ms-2"></i></a>
                                           
                                               
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Kế hoạch:
                                                
                                        </th>
                                        <td>
                                            @foreach (var kh in await AC.KeHoach.Get(ca.DsIdKeHoach) )
                                            {
                                                <span>
                                                     @kh.LoaiKeHoach
                                                </span>
                                            }
                                               
                                            <a href="/nguoidung/nhanvien_congviec_@(cv.CodeLoaiCongViec)_ca_kehoach?id=@ViewBag.id&idyn=@yn.Id&idca=@ca.Id"><i class="fa fa-calendar ms-2"></i></a>
                                        </td>
                                    </tr>
                                    
                                   
                                </table> 
                                <div class="ms-5 mb-4">
                                    <table>
                                        @foreach (var cacon in await AC.Ca.Get(ca.DsIdCaCon))
                                        {
                                            <tr>
                                                <th style ="width:150px;">
                                                    Thông tin ca:
                                                </th>
                                                <td>
                                                    @cacon.LoaiCa 
                                                    
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-primary" href="/nguoidung/nhanvien_congviec_@(cv.CodeLoaiCongViec)_ca_create?id=@ViewBag.id&idyn=@yn.Id" 
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Tạo ca cho bệnh nhân">
                                <i class="fa fa-plus"></i>  <i class="fa fa-cog"></i> 
                           </a>
                        </td>
                    </tr>
                }

                            
            </tbody>
        </table>
   </div>



