@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@using Xcomp.Share.Domain
@model ToChucRequest
@{
    Layout = "~/Views/Shared/_Layout_ToChuc.cshtml";
    ViewData["Title"] = "Tạo tổ chức";
    
}

<section id="congviec" style="padding-top:60px;">
<div class="container-fluid">
    <div class="row justify-content-md-center">
              
        <div class="col-md-4">
            <div class="card text-center mt-5">
                <div class="card-body">
                    TẠO MỚI TỔ CHỨC
                </div>
                <div class="card-body text-start">

                    @using (Html.BeginForm("tochuc_create", "nguoidung", FormMethod.Post))
                    {
                        <div class="mb-3">
                        <label for="TenCaThe" class="form-label">Tên tổ chức</label>
                        <input type="text" class="form-control" id="Ten" name="Ten" value="@Model.Ten">
                            @if(ViewBag.ErrTenCaThe != null)
                            {
                                <span class="text-danger" >@ViewBag.ErrTenCaThe</span>
                            }
                                    
                        </div>
                        <div class="mb-3">
                        <label for="IdLoaiToChuc" class="form-label">Loại tổ chức</label>

                        <select id="IdLoaiToChuc" name="IdLoaiToChuc" class="form-select">
                            @foreach(var l in await AC.LoaiToChuc.Get(SystemInfo.HeThong.DsIdLoaiToChuc))
                            {
                                
                                if (l.Id == Model.IdLoaiToChuc)
                                {
                                    <option selected value="@l.Id">@l.Name</option>
                                } else
                                {
                                    <option value="@l.Id">@l.Name</option>
                                }

                            }   
                        </select>
                                
                        @if(ViewBag.ErrLoaiToChuc != null)
                        {
                            <span class="text-danger" >@ViewBag.ErrLoaiToChuc</span>
                        }
                        </div>

                        <div class="mb-3 text-start">
                        <label for="GioiThieu" class="form-label">Giới thiệu</label>

                        <textarea id="GioiThieu" name="GioiThieu" class="form-control">@Model.GioiThieu</textarea>
                                
                                
                                
                        </div>
                              
                             
                        <button type="submit" class="btn btn-primary">Tạo mới</button>
                    }

                        

                </div>
            </div>
        </div>
    </div>
</div>
</section>



